<div class="container p-2 sm:p-3 md:p-4 lg:p-6 xl:px-8 xl:py-6">
  <h1>NewsHub</h1>

  <p-dataView [value]="articles" layout="grid" (onPage)="onPage($event)" [lazy]="true"
              [first]="first" [rows]="recordsPerPage" [paginator]="true" [totalRecords]="totalRecords">
    <ng-template pTemplate="header">
      <form>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
          <span class="p-float-label">
            <input id="search" type="text" pInputText formControlName="search">
            <label for="search">Search</label>
          </span>
        </div>
      </form>
    </ng-template>

    <ng-template let-article pTemplate="gridItem">
      <div class="col-12 sm:col-6 lg:col-4 p-2 col-xl">
        <app-article [article]="article"></app-article>
      </div>
    </ng-template>
  </p-dataView>
</div>
