.container {
  margin: auto;
  max-width: 1920px;

  h1 {
    font-family: 'Lora', serif;
    font-size: 3.5rem;
    font-weight: 400;

    letter-spacing: 6px;

    text-align: center;
    text-transform: uppercase;
  }

  .searchbar, .searchbar span, .searchbar span input {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .col-xl {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 25%;
  }
}
